<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} %-5level [corr=%X{correlationId}] %logger{36} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>